<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KcyDispatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <KcyDispatcher.Properties.Settings>
            <setting name="Pop3UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Pop3Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Pop3Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Pop3Port" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="Pop3UseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pop3WaitInterval" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="KcyAppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="KcyUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="KcyUserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="KcyShorterUrl" serializeAs="String">
                <value>http://kcy.me/api/?u={0}&amp;key={1}&amp;url={2}</value>
            </setting>
            <setting name="KcySharerUrl" serializeAs="String">
                <value>http://karmacracy.com/api/v1/share?u={0}&amp;k={1}&amp;txt={2}&amp;kcy={3}&amp;appkey={4}&amp;where={5}</value>
            </setting>
            <setting name="KcyTwitterId" serializeAs="String">
                <value />
            </setting>
        </KcyDispatcher.Properties.Settings>
    </applicationSettings>
</configuration>